// ~/dev/fork/create-react-app/packages/babel-preset-react-app

{
  presets: [
    ['env', {debug: true, modules: false, useBuiltlns: true, targets: {browsers: ['last 1 chrome version']}}],
    // 'last 2 versions', 'ie 9'
    'react'
  ],
  plugins: [
    'syntax-dynamic-import',
    'transform-decorators-legacy',    // must before transform-class-properties
    'transform-class-properties',
    ['transform-object-rest-spread', {useBuiltIns: true}],
    ['babel-plugin-transform-react-jsx', { useBuiltIns: true } ],
    'babel-plugin-transform-react-jsx-source',
    'babel-plugin-transform-react-jsx-self',
    //'styled-components',
    //['import', [ { style: 'css', libraryName: 'antd' } ]]
  ]
}
